body{
	background: #fafafa;
}

.info-color, .navbar, footer {
    background-color: #1a73e8!important;
}
.main{
	display: inline-block;
	width: 100%;
	padding: 20px 0px;
	min-height: 550px;
}
.form-heading{
	    padding: 20px;
    border-bottom: 1px solid #ddd;
}
#customer-form .form-check-label{
display: inline-block;
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
    padding: 15px;
    font-size: 18px;
}
#customer-form input[type=checkbox], #customer-form .form-check-label:after, #customer-form .form-check-label:before{
    display: none;
}

#customer-form input[type=checkbox]:checked + .form-check-label{
    /*box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 #8BC34A;*/
    background-color: rgba(66,133,244,0.12);
    border: 1px solid #d2e3fc;
}
#customer-form .form-check-label i{
	    font-size: 30px;
    color: #155cba;
    display: block;
    padding-bottom: 10px;
}
.btn-outline-info{
        color: #4285f4 !important;
    background-color: transparent !important;
    border: 2px solid #4285f4 !important;
}
.flag{
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: text-top;
    line-height: 16px;
    background: url(../img/flags16.png) no-repeat;
}
.merchant-card p{
    margin: 0px;
}
.merchant-card .card-body{
    padding: 15px !important;
}
.merchant-card{
    margin-bottom: 30px;
}
.merchant-card a{
    color: #000;
}
.merchant-profile{
    width: 100px;
    height: 100px;
    background: #1a73e8;
    text-align: center;
    color: #fff;
    border-radius: 100%;
    margin: auto;
    line-height: 100px;
    font-size: 48px;
    text-transform: uppercase;
}
.form-control{
    height: 40px !important;
}
table th{
    font-weight: 600;
    color: #000;
}
#timing-row .btn-rounded {
    border-radius: 10em;
    width: 90px;
    padding: 10px;
}






.dropdown dd, .dropdown dt, .dropdown ul {
    margin: 0px;
    padding: 0px;
}
.dropdown dd ul li a span:first-child, .dropdown dt a span span:first-child {
    background-image: url('https://i.imgur.com/OQiDoZe.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 11px;
    display: inline-block;
    margin:5px;
    vertical-align: top;
}
.dropdown dt a span {
    cursor: pointer;
    display: block;
    padding: 5px;
    white-space: nowrap;
}
.dropdown dt a img {
    position: relative;
    z-index: 1;
}
.dropdown dt a span span:first-child:before {
    position: absolute;
    content: '';
    width: 15px;
    height: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2) inset;
}
.dropdown dt a span span {
    display: inline-block;
    padding: 0;
}
.dropdown dt a span span:first-child {
    padding: 0;
}
.dropdown dd {
    position: relative;
}
.dropdown a, .dropdown a:visited {
    color: #4a535f;
    text-decoration: none;
    outline: none;
}
.dropdown a:hover {
    color: #5d4617;
}
.dropdown dt a:hover, .dropdown dt a:focus {
    color: #5d4617;
}
.dropdown dt a {
    position: relative;
    display: block;
    padding-right: 20px;
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid #ddd;
    height: 40px;
}
.dropdown dd ul {
    color: #C5C0B0;
    display: none;
    left: 0px;
    padding: 5px 0px;
    position: absolute;
    width: 250px;
    list-style: none;
    max-height: 170px;
    overflow-y: scroll;
    top: 10px;
    z-index: 2;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    background: #fff;
}

li a {
    font-size:13px;
}

li a span:nth-child(2) {
    line-height: 2em;
}
.dropdown dd ul::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
 border-left:1px solid rgba(0,0,0,0.1);
}
.dropdown dd ul::-webkit-scrollbar-thumb {
 background: rgba(0,0,0,0.4);
/*-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5), 1px 0 0 #5cace9 inset, 2px 0 0 #b3d5ee inset;
    border-radius:10px;*/
}
.dropdown dd ul::-webkit-scrollbar-thumb:window-inactive {
 background: blue;
}
.dropdown span.value {
    display: none;
}
.dropdown dd ul li a {
    padding: 5px;
    display: block;
    font-size: 12px !important;
}
.dropdown dd ul li a:hover {
    background-color: rgba(0,0,0,0.05);
}
dl.dropdown {
    display: inline-block;
    width: 100%;
    /*margin: -3px 0 0 1px;*/
    text-align: left;
}
dl.dropdown span:nth-child(3) {
    color: rgba(0,0,0,0.4)
}
dl.dropdown > span:nth-child(2) {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}
dl.dropdown span:nth-child(3) {
    float: right;
}
dl.dropdown dt span:nth-child(2) {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: bold;
    line-height: 1.6em;
}
dl.dropdown dt span:nth-child(3) {
    display: none;
}
.countryFlag {
    padding: 0;
    background-image: url("https://i.imgur.com/OQiDoZe.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 11px;
    margin-right: 4px;
    width: 16px;
    cursor: pointer;
    white-space: nowrap;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #BFBFC1 #B6B6B6 #969696;
    border-image: none;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.09);
}

